<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:config.properties</value>
            </list>
        </property>
        <property name="fileEncoding" value="utf-8"/>
    </bean>

    <bean id="config" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:config.properties</value>
            </list>
        </property>
        <property name="fileEncoding" value="utf-8"/>
    </bean>

    <import resource="spring-context-jdbc.xml"/>


    <context:component-scan base-package="com.redare.shop.unifyworkbench.service"/>
    <context:component-scan base-package="com.redare.devframework.webplatform.service"/>

    <context:component-scan
            base-package="sdkhttpcomponents.com.redare.devframework.apppush.sdk.httpclient.sdkimpl"/>
    <bean class="sdkhttpcomponents.com.redare.devframework.apppush.sdk.httpclient.HttpClientConfig">
        <property name="url" value="${service.apppush.url}"/>
        <property name="urlKey" value="${service.apppush.urlKey}"/>
    </bean>

    <!--短信模块-->
    <context:component-scan base-package="sdkhttpcomponents.com.redare.devframework.smsgateway.sdk.httpclient.sdkimpl"/>
    <bean class="sdkhttpcomponents.com.redare.devframework.smsgateway.sdk.httpclient.HttpClientConfig">
        <property name="url" value="${sms.server.url}"/>
        <property name="urlKey" value="${sms.server.url.key}"/>
        <property name="timeOut" value="${sms.server.timeOut}"/>
    </bean>
    <bean class="com.redare.shop.unifyworkbench.service.config.AppApiConfig">
        <property name="smsBsId" value="${sms.bsId}"/>
    </bean>

    <import resource="spring-context-service.xml"/>


</beans>
